
.boxed {
    border: 2px solid blue ;
  }

.boxed1 {
    border: 2px solid yellow ;
  }

.boxed {
    border: 2px solid blue ;
  }

.boxed2 {
    border: 2px solid black ;
  }

.boxed3 {
    border: 2px solid yellow ;
  }
.boxed4 {
    border: 2px solid black ;
  }
  
.boxed5 {
    border: 2px solid blue ;
  }

.boxed6 {
    border: 2px solid yellow ;
  }





